.header {
    display: flex;
    justify-content: space-between;
}

.page{
    display: flex;
}

/*タイムテーブル*/
.timeCard {
    gap: 10px;
}

.timeSlot {
    gap:10px;
    background-color: rgb(235, 235, 235);
}
.limit {
    display: flex;
    gap: 20px;
}

/*予約一覧*/
.table {
    margin-top: 10px;
}

.list {
    width: 400px;
}

.container {
    display: flex;
    gap: 20px;
    height: 40px;
    border: 1px solid;
}

.container:hover{
    background-color: rgb(235, 235, 235);
}