.timeCard {
    display: flex;
}
.timeSlot {
    gap:10px;
    background-color: rgb(235, 235, 235);
}
.limit {
    display: flex;
    gap: 20px;
}

.page {
    display: flex;
    gap: 10px;
    height: 100vh;
}
.list {
    width: 400px;
    background-color: rgb(200, 200, 200);
}

.container {
    display: flex;
    gap: 20px;
    background-color: darkseagreen;
}