.fc-daygrid-day:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.fc-daygrid-day-top {
  justify-content: center;
}

.fc-event{
    background-color: white;
    border: none;
}

.fc-event-title {
  color: black;
}